
<main class="flex flex-col gap-3 sm:gap-5 bg-[#F0E9E9] min-h-screen">
    <!--Top bar-->
    <nav class="flex flex-row justify-between px-5 py-3 bg-[#2f3a63]">
        <!--Logo section-->
        <div class="inline-flex justify-around items-center gap-3">
            <img src="assets/Images/Novu_logo.svg" alt="Novu logo" class="max-h-10">
            <div class="flex flex-row gap-1 items-center">
                <p class="font-[Poppins] font-bold text-white text-lg">Novu</p>
                <p class="text-white font-light text-lg">Admin</p>
            </div>
        </div>
        <button class="hover:cursor-pointer hidden sm:block bg-[#4a90e2] font-[Inter] py-3 px-10 rounded-3xl text-white">Logout</button>
        <img class="hover:cursor-pointer block sm:hidden" src="assets/Images/Logout_admin.svg" alt="Logout">
    </nav>

    <!--Options container-->
    <div class="flex flex-col px-5 py-4 sm:px-10 sm:py-8 gap-5">

        <div class="flex flex-row justify-center gap-5">
            <div class="gap-3 min-w-[5rem] min-h-[3rem] md:min-h-[10rem] md:min-w-[20rem] bg-white flex flex-col justify-start p-3 md:p-5">
                <!--active user count-->
                <div class="inline-flex justify-start gap-3 items-center">
                    <img src="assets/Images/BlueuserIcon.svg" alt="User Icon" class="w-[2rem] md:w-[5rem]">
                    <div class="inline-flex flex-col justify-start">
                        <p class="font-[Inter] text-sm md:text-lg lg:text-xl font-medium">Active Users</p>
                    </div>

                </div>
                <div class="flex w-full justify-center">
                    <p class="font-[Inter] font-light text-[13px] sm:text-lg md:text-xl">10.000</p>
                </div>
            </div>
            <div class="min-w-[5rem] min-h-[3rem] md:min-h-[10rem] md:min-w-[20rem] bg-white flex flex-col justify-start p-3 md:p-5">
                <!--Reports-->
                <div class="inline-flex justify-start gap-3 items-center">
                    <img src="assets/Images/ReportsIcon.svg" alt="User Icon" class="w-[2rem] md:w-[5rem]">
                    <div class="inline-flex flex-col justify-start">
                        <p class="font-[Inter] text-sm md:text-lg font-medium">Pending reports</p>
                    </div>

                </div>
                <div class="flex flex-row w-full justify-center">
                    <p class="font-[Inter] font-light sm:text-xl  text-red-700">4</p>
                </div>
                <div class="flex flex-row justify-center w-full py-5">
                    <button class="hover:cursor-pointer rounded-3xl bg-[#ff6b6b] text-white text-sm px-[1rem] sm:px-[3rem] py-1">Review</button>
                </div>
            </div>
        </div>
        <div class="flex flex-row justify-center gap-5 ">
            <div class="gap-3 min-w-[5rem] min-h-[3rem] md:min-h-[10rem] md:min-w-[20rem] bg-white flex flex-col justify-start p-3 md:p-5">
                <!--active user count-->
                <div class="inline-flex justify-start gap-3 items-center">
                    <img src="assets/Images/FlaggedUsers.svg" alt="User Icon" class="w-[2rem] md:w-[5rem]">
                    <div class="inline-flex flex-col justify-start">
                        <p class="font-[Inter] text-sm md:text-lg font-medium">Flagged users</p>
                    </div>

                </div>
                <div class="flex w-full justify-center">
                    <p class="font-[Inter] font-light text-xl">6</p>
                </div>
                <div class="flex flex-row justify-center w-full py-5">
                    <button class=" hover:cursor-pointer rounded-3xl bg-[#ff6b6b] text-white text-sm px-[1rem] sm:px-[3rem] py-1">Review</button>
                </div>
            </div>
            <div class="gap-3 min-w-[5rem] min-h-[3rem] md:min-h-[10rem] md:min-w-[20rem] bg-white flex flex-col justify-start p-3 md:p-5">
                <!--active user count-->
                <div class="inline-flex justify-start gap-3 items-center">
                    <img src="assets/Images/PendingVerifications.svg" alt="User Icon" class="w-[2rem] md:w-[5rem]">
                    <div class="inline-flex flex-col justify-start">
                        <p class="font-[Inter] text-[0.7rem] md:text-lg font-medium">Pending verifications</p>
                    </div>

                </div>
                <div class="flex flex-row w-full justify-center">
                    <p class="font-[Inter] font-light text-xl text-black">{{registerRequestsCount}}</p>
                </div>
                <div class="flex flex-row justify-center w-full py-5">
                    <button (click)="goToRegisterRequestList()" class="hover:cursor-pointer rounded-3xl bg-[#4A90E2] text-white text-sm px-[1rem] sm:px-[3rem] py-1">Review</button>
                </div>
            </div>
        </div>
    </div>

    <!--User management-->
    <div class="flex flex-col sm:flex-row gap-3 justify-center px-10">
        <div class="sm:max-w-[20rem] flex sm:inline-flex rounded-4xl sm:rounded-[0] flex-grow flex-row sm:flex-col justify-start items-center gap-4 sm:gap-1 bg-white px-3 sm:p-4">
            <div class="sm:min-h-[4rem]  gap-3 flex flex-row justify-center items-center">
                <img src="assets/Images/CreateUser.svg" alt="Create user" class="mb-3">
                <p class="font-[Inter] text-sm">Create user</p>
            </div>
            <button class="hover:cursor-pointer hidden sm:block rounded-3xl bg-[#4A90E2] text-white font-[Inter] px-3 sm:px-10">Create user</button>
        </div>
        <div class="sm:max-w-[20rem] flex sm:inline-flex flex-row flex-grow sm:flex-col justify-start items-center gap-4 sm:gap-1 bg-white px-3 sm:p-4 rounded-4xl sm:rounded-[0]">
            <div class="sm:min-h-[4rem] py-2 flex flex-row  justify-center items-center gap-3">
                <img src="assets/Images/RestrictUser.svg" alt="Restrict user" class="w-[1.5rem] sm:w-[2rem]">
                <p >Restrict user</p>
            </div>
            <button class="hover:cursor-pointer hidden sm:block rounded-3xl bg-[#4A90E2] text-white font-[Inter] px-3 sm:px-10">Restrict</button>
        </div>
        <div class="sm:max-w-[20rem] flex sm:inline-flex flex-row flex-grow sm:flex-col justify-start items-center gap-4 sm:gap-1 rounded-4xl sm:rounded-[0] px-3  sm:p-4 bg-white ">
            <div class="sm:min-h-[4rem] flex flex-row justify-center items-center">
                <img src="assets/Images/DeleteUser.svg" alt="Delete user" class="w-[2.8rem]">
                <p class="font-[Inter] text-sm">Delete user</p>
            </div>
            <button class="hover:cursor-pointer hidden sm:block rounded-3xl bg-[#4A90E2] text-white font-[Inter] px-3 sm:px-10">Delete</button>
        </div>
    </div>

</main>
