<main>
    <div (click)="redirectHome()" class="inline-flex justify-between items-center mt-5 ml-5 cursor-pointer">
        <img src="assets/Images/Novu_Logo.png" alt="Novu Logo" class="w-[5rem]">
        <p class="font-[Poppins] font-black text-xl">Novu</p>
    </div>
    <div class="flex justify-center items-center h-[30rem]">
        <div class="p-5 mx-10 sm:mx-20 lg:mx-10">
            <h1 class="font-[Poppins] font-black text-lg md:text-2xl">Se ha registrado su petición de registro. Será notificado cuando se resuelva la petición.</h1>
            <h5 class="font-[Poppins] text-sm ">Esperamos verte pronto</h5>
        </div>
    </div>
</main>
