<main class="flex flex-col bg-[#F0E9E9] min-h-screen">
    <nav class="flex flex-row justify-between px-5 py-3 bg-[#2f3a63]">
        <!--Logo section-->
        <div class="inline-flex justify-around items-center gap-3">
            <img src="assets/Images/Novu_logo.svg" alt="Novu logo" class="max-h-10">
            <div class="flex flex-row gap-1 items-center">
                <p class="font-[Poppins] font-bold text-white text-lg">Novu</p>
                <p class="text-white font-light text-lg">Admin</p>
            </div>
        </div>
        <button (click)="logout()" class="hover:cursor-pointer hidden sm:block bg-[#4a90e2] font-[Inter] py-3 px-10 rounded-3xl text-white">Logout</button>
        <img (click)="logout()" class="hover:cursor-pointer block sm:hidden" src="assets/Images/Logout_admin.svg" alt="Logout">
    </nav>

    <div class="flex justify-center flex-col lg:px-20 lg:py-10 px-10 py-5 gap-10">
        <div class="flex justify-start"><h2 class="font-[Poppins] md:text-lg lg:text-4xl font-bold">Create User</h2></div>
        <form [formGroup]="userForm" (ngSubmit)="Submit()" class="font-[Inter] flex flex-col gap-3 border-2 rounded md:px-30 py-15">

            <!--Names & surnames-->
            <section class="flex justify-center items-center flex-col gap-3">
                <div class="flex justify-start w-100"><h2 class="font-black">Names*</h2></div>
                <div class="inline-flex flex-col sm:flex-row  gap-3 ">
                    <input formControlName="name" placeholder="Name" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
                    @if (userForm.get('name')?.touched)
                    {
                        @if (userForm.get('name')?.errors?.['required']) {
                            <span class="block ml-3 text-xs text-red-500">Must not be empty</span>
                        }
                        @if (userForm.get('name')?.errors?.['minlength']) {
                            <span class="block ml-3 text-xs text-red-500">2 characters minimum</span>
                        }

                    }
                    <div>
                        <input formControlName="surnames" placeholder="Surnames" class="flex-grow h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
                        @if (userForm.get('surnames')?.touched) {
                            @if (userForm.get('surnames')?.errors?.['required']) {
                                <span class="block ml-3 text-xs text-red-500">Los apellidos no pueden quedar vacíos</span>
                            }
                            @if (userForm.get('surnames')?.errors?.['minlength']) {
                                <span class="block ml-3 text-xs text-red-500">Mínimo 2 caracteres</span>
                            }
                        }
                    </div>

                </div>
            </section>


            <!--Email-->
            <section class="flex justify-center items-center flex-col gap-3" >
                <h2 class="font-black w-100">Email*</h2>
                <div class="w-full sm:w-100">
                    <input formControlName="email" placeholder="Email" class="flex-grow min-w-[25rem] h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
                    @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
                        <span> Invalid Email</span>
                    }
                </div>
            </section>
            <!--Password-->
            <section>
                <h2 class="font-black">Password*</h2>
                <input type="password" formControlName="password" placeholder="Password" class="flex-grow h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
            </section>

            <!--School -->
            <section>
                <h2 class="font-black">School Name</h2>
                <input formControlName="school_name" placeholder="School" class="flex-grow h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">

            </section>


            <!--Gender-->
            <h2 class="font-black">Select gender</h2>
            <select formControlName="gender" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">

                <option value="">Select gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>

            <section>
                <h2 class="font-black">Write a biography</h2>
                <textarea formControlName="biography" placeholder="Bio" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0"></textarea>
            </section>

            <section>
                <h2 class="font-black">Height</h2>
                <input formControlName="height" placeholder="Height (cm)" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
            </section>

            <section>
                <h2 class="font-black">Date of Birth*</h2>
                <input type="date" formControlName="date_of_birth" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
            </section>


            <section>
                <h2 class="font-black">Ages filter</h2>
                <div class="flex flex-col flex-grow sm:flex-row justify-start">
                    <input type="number" formControlName="max_age" placeholder="Max Age" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
                    <input type="number" formControlName="min_age" placeholder="Min Age" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
                </div>


            </section>

            <section>
                <h2 class="font-black">Profile Picture</h2>
                <input formControlName="profile_pic" placeholder="Profile pic URL" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
            </section>

            <section>
                <h2 class="font-black">Max distance filter</h2>
                <input type="number" formControlName="max_distance_km" placeholder="Max distance (km)" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
            </section>


            <label>
                <input type="checkbox" formControlName="show_me"> Show me
            </label>

            <label>
                <input type="checkbox" formControlName="restricted"> Restricted
            </label>

            <input formControlName="restricted_reason" placeholder="Restriction reason">


            <section>
                <h2 class="font-black">Date user restriction</h2>
                <input type="date" formControlName="restricted_at" class="h-9 rounded-full border-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-indigo-400 focus:border-transparent bg-gray-50 px-4 text-[12px] outline-none placeholder:text-gray-400 focus:ring-0">
            </section>

            <h2 class="font-black">Administrative Privileges</h2>
            <label>

                <input type="checkbox" formControlName="admin"> Admin
            </label>

            <div class="flex justify-start flex-col sm:flex-row gap-4">
                <button type="submit" class="hover:cursor-pointer p-3 bg-orange-600 rounded max-w-30">Submit</button>
                <button (click)="toAdminPanel()" type="button" class="hover:cursor-pointer p-3 bg-orange-600 rounded max-w-40">Back to Panel</button>
            </div>



        </form>
    </div>
</main>
