<main class="bg-[#f0e9e9] min-h-screen">
    <nav class="flex flex-row justify-between px-5 py-3 bg-[#2f3a63]">
        <!--Logo section-->
        <div class="inline-flex justify-around items-center gap-3">
            <img src="assets/Images/Novu_logo.svg" alt="Novu logo" class="max-h-10">
            <div class="flex flex-row gap-1 items-center">
                <p class="font-[Poppins] font-bold text-white text-lg">Novu</p>
                <p class="text-white font-light text-lg">Admin</p>
                <p class="font-[Poppins] font-bold text-white text-lg"> - Register requests</p>
            </div>
        </div>
        <button class="hidden sm:block bg-[#4a90e2] font-[Inter] py-3 px-10 rounded-3xl text-white">Logout</button>
        <img class="block sm:hidden" src="assets/Images/Logout_admin.svg" alt="Logout">
    </nav>
    <div class="flex justify-center">
        <div class="flex flex-col gap-8 sm:mx-20 md:mx-30 mt-30 lg:max-w-[80rem] min-w-[20rem] sm:min-w-[30rem] md:min-w-[40rem] lg:min-w-[60rem]">
            <div class="flex flex-row bg-white py-5 px-5 sm:px-10 rounded-2xl">
                <div class="flex-grow-2"><p class="font-extrabold font-[Inter] text-sm sm:text-[18px]">Username</p></div>
                <div class="min-w-[8rem] md:min-w-[10rem] flex flex-row justify-between">
                    <p class="font-extrabold font-[Inter] text-sm sm:text-[18px]">Date</p>
                    <p class="font-extrabold  font-[Inter] text-sm sm:text-[18px]">Details</p>
                </div>
            </div>
            <!--List-->

            <div class="overflow-y-auto h-100 flex flex-col gap-2">
                @if(requests.length > 0){
                    @for (requests of requests; track requests.id_request) {
                        <div class="flex flex-row  bg-white py-3 px-5 sm:px-10 rounded-2xl">
                            <div class="flex-grow-2"><p class="font-[Inter] text-sm sm:text-[14px] md:text-[18px]">{{requests.name}} {{requests.surnames}}</p></div>
                            <div class="min-w-[8rem] md:min-w-[10rem] flex flex-row justify-between">
                                <p class="font-[Inter]">{{splitDate(requests.submitted_at)}}</p>
                                <p  (click)="checkRegisterRequestDetail(requests.id_request)" class="hover:cursor-pointer font-[Inter]">Details</p>
                            </div>
                        </div>
                    }
                } @else{
                    <div class="flex flex-row  bg-white py-3 px-5 sm:px-10 rounded-2xl">
                        <h1>There are no petitions currently</h1>
                    </div>
                }


            </div>
            <div class="flex justify-end">
                <button (click)="goToAdminPanel()" class="hover:cursor-pointer max-w-[20rem] px-10 py-2 rounded-4xl bg-white font-[Poppins] font-bold">Back to Admin Page</button>
            </div>

        </div>
    </div>
</main>
